{% extends "base.html" %}

{% block content %}

  <h3>Code 404</h3>
  <h6>Houston, we have a problem.</h6>
  <br>
  <div style = "padding-top: 10px;"></div>
  <div>
    <p>
      Page not found. <br>
      This could be you, it could be me, or it could be the internet.

      <br> <br>

      But hey, at least you get to talk to me :) <br> <br>

      If you get bored then feel free to head back. <br> \/
    </p>
    <a href = "/" class = "btn btn-outline-secondary">Head back to Earth</a>
  </div>

{% endblock %}
