{% extends "base.html" %}

{% block content %}

  <h3>About Me</h3>
  <h6>My name is Benjamin (iiPython), and as you could infer, I like Python.<br>I make discord bots, flask webpages (like this one), and AI.</h6>
  <br>
  <div style = "padding-top: 10px;"></div>
  <div id = "moreInfo">
    <p>The best way to contact me is through discord (bottom left).</p>
    <p>
      List of known programming languages:
      <br>
      <a href = "https://python.org" class = "text-info">Python</a>
      <a href = "https://javascript.com" class = "text-info">Javascript</a>
      <a href = "https://lua.org" class = "text-info">Lua</a>
      <a href = "https://w3.org" class = "text-info">HTML</a>
      <a href = "https://w3.org" class = "text-info">CSS</a>
      <a href = "https://perl.org" class = "text-info">Perl</a>
      <a href = "https://www.ruby-lang.org" class = "text-info">Ruby</a>
    </p>
  </div>

{% endblock %}
