{% extends "base.html" %}

{% block content %}

    <h3>About Me</h3>
    <h6>
        My name is Benjamin (iiPython), and as you could infer, I like Python. <br>
        I make discord bots, flask webpages (like this one), and simplistic AI(s).
        <div style = "padding-top: 25px;"></div>
        I also know Node.js, Lua, HTML, CSS (etc.) but mainly work in Python. <br>
        The best way of contacting me is via Discord (bottom-left corner).
        <div style = "padding-top: 25px;"></div>
        I <b>do not</b> accept job applications, thanks for the interest though.
    </h6>
    <div style = "padding-top: 50px;"></div>
    <h3>About Website</h3>
    <h6>
        This website is hosted as a project to help me grow my knowledge of <br>
        Flask, binary data, and image data. It also features completely modern <br>
        methods of logging in and creating an account (using industry standard bcrypt).
        <div style = "padding-top: 25px;"></div>
        The site also provides an API that wraps most of the application, <a href = "/api/v1">accessible here</a>.
    </h6>

{% endblock %}
