<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Meta -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name = "theme-color" content = "#4285f4">

        <!-- Discord Meta -->
        <meta content = "Painting" property = "og:title">
        <meta content = "Super simple painting app in your browser!" property = "og:description">
        <meta content = "Ben's Site" property = "og:site_name">
        <meta content = "/s/favicon.png" property = "og:image">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/s/css/paint.css">

        <!-- Misc -->
        <link rel = "icon" type = "image/png" href = "/s/favicon.png">

        <title>Paint</title>
    </head>
    <body>

        <!-- Canvas -->
        <canvas id = "paint" width = "1820" height = "1820"></canvas>

        <!-- Status -->
        <footer id = "status"></footer>

        <!-- JS -->
        <script src = "/s/js/paint.js"></script>
        <script src = "/s/js/paint-keybinds.js"></script>
    </body>
</html>