{% extends "base.html" %}

{% block content %}

    <!-- Custom CSS -->
    <style>
        a {
            color: white;
            padding-right: 15px;
        }
        a:hover {
            color: #999;
        }
    </style>

    <!-- Sprint body -->
    <h1><i class = "fas fa-running"></i> Sprint</h1>
    <h3>The Python recreation of the command prompt</h3>
    <br>
    <a href = "https://github.com/ii-Python/Sprint">
        <i class = "fab fa-github"></i> Github page
    </a>
    <a href = "https://github.com/ii-Python/Sprint/releases">
        <i class = "fas fa-download"></i> Latest release
    </a>

{% endblock %}
