<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Meta -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name = "theme-color" content = "#4285f4">

        <!-- Discord Meta -->
        <meta content = "Text Editor" property = "og:title">
        <meta content = "Text editor in your browser." property = "og:description">
        <meta content = "Ben's Site" property = "og:site_name">
        <meta content = "/s/favicon.png" property = "og:image">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/s/css/editor.css">

        <!-- Misc -->
        <link rel = "icon" type = "image/png" href = "/s/favicon.png">

        <title>Text Editor</title>
    </head>
    <body>
        <textarea rows = "4000" cols = "5000" autocomplete = "off" autocapitalize = "off" spellcheck = "off"></textarea>
    </body>
</html>