body {
    overflow: hidden;
    background-color: #777;
}
textarea {
    padding: 0;
    resize: none;
    border: none;
    font-size: 18px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}
textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
