body {
    background-color: #061E3E;
}
footer {
    left: 0;
    bottom: 0;
    color: #FFF;
    position: fixed;
    padding-left: 7px;
    user-select: none;
    padding-bottom: 2px;
}
footer a {
    float: left;
    cursor: pointer;
    padding-right: 7px;
}
i {
    color: white;
}
i:hover {
    color: #999;
}
.seperator {
    padding-top: 25px;
}
.master {
    padding-top: 10px;
    color: #FFF;
}
.left-block {
    color: #999;
    padding-top: 10px;
    padding-left: 15px;
}
.dropdown-menu {
    background-color: #6C757D;
}
.dropdown-divider {
    border-top: 1px solid #343A40
}
.example {
    width: 200px;
}
.dropdown-toggle {
    cursor: pointer;
}

/** Elements that require the !important attribute due to bootstrap **/
a.dropdown-link {
    color: #333 !important;
}
a.dropdown-link:hover {
    color: black !important;
}
