<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- Meta -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name = "theme-color" content = "#4285f4">

    <!-- Discord Meta -->
    <meta content = "plz clik here" property = "og:title">
    <meta content = "You: *sigh* i wish i had a cool image generator.." property = "og:description">
    <meta content = "Ben's Site" property = "og:site_name">
    <meta content = "/s/favicon.png" property = "og:image">

    <!-- CSS -->
    <link rel = "stylesheet" href = "/s/css/bootstrap.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <style>body{background-color:#061e3e}footer{position:fixed;left:0;bottom:0;color:#fff;padding-left:7px;padding-bottom:2px;user-select:none;cursor:text}.seperator{padding-top:25px}.master{padding-top:10px;color:#fff}.cb-lgt{color:red}.cb-dpr{padding-left:5px}.cb-dpi{color:#6c757d}.fa-github{color:white}</style>

    <!-- Misc -->
    <link rel = "icon" type = "image/png" href = "/s/favicon.png">

    <title>Ben's Things</title>
  </head>
  <body>
    <nav class = "navbar navbar-expand-lg navbar-light">
      <button class = "navbar-toggler collapsed" type = "button" data-toggle = "collapse" data-target = "#homeMenu" aria-controls = "homeMenu" aria-expanded = "false" aria-label = "Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse" id = "homeMenu">
        <ul class = "navbar-nav mr-auto">
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/">Home</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/about">About</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/generate">Generator</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/api/v1/docs">API</a>
          </li>
        </ul>
        <ul class = "navbar-nav navbar-right">
          {% if not "username" in session %}
            <li class = "nav-item">
              <a class = "nav-link text-secondary" href = "/register">Signup</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link text-secondary" href = "/login">Login</a>
            </li>
          {% else %}
            <li class = "dropdown">
              <a class = "nav-link text-secondary dropdown-toggle" data-toggle = "dropdown" href>{{ session["username"] }} <span class = "caret"></span></a>
              <ul class = "dropdown-menu dropdown-menu-right">
                <li><a href = "/account" class = "cb-dpr cb-dpi">Account</a></li>
                <div class = "dropdown-divider"></div>
                <li><a href = "/logout" class = "cb-lgt cb-dpr">Logout</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div align = "center" class = "master">
      {% block content %}{% endblock %}
      <br>
      <div class = "seperator"></div>
    </div>
    <footer>
      <a href = "//github.com/ii-Python/iiPython.cf">
        <i class = "fab fa-github"></i>
      </a>
      <div onclick = "confetti.start(1200, 50, 150);">
        <i class = "fab fa-discord"></i>
        iiPython#0768
      </div>
    </footer>

    <!-- JS -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Relative JS -->
    <script src = "/s/js/confetti.js"></script>
    <script src = "/s/js/bootstrap.js"></script>
  </body>
</html>
