<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- Meta -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name = "theme-color" content = "#4285f4">
    {% block meta %}{% endblock %}

    <!-- Discord Meta -->
    <meta content = "pls click here" property = "og:title">
    <meta content = "*sigh* i wish i had a cool image generator.." property = "og:description">
    <meta content = "Ben's Site" property = "og:site_name">
    <meta content = "/s/favicon.png" property = "og:image">

    <!-- CSS -->
    <link rel = "stylesheet" href = "/s/css/bootstrap.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel = "stylesheet" href = "/s/css/page.css">

    <!-- Misc -->
    <link rel = "icon" type = "image/png" href = "/s/favicon.png">

    <title>Ben's Things</title>
  </head>
  <body>
    <nav class = "navbar navbar-expand-lg navbar-light">
      <div class = "collapse navbar-collapse">
        <ul class = "navbar-nav mr-auto">
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/">Home</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link text-secondary" href = "/about">About</a>
          </li>
          <li class = "nav-item">
            <li class = "dropdown">
              <a class = "nav-link text-secondary dropdown-toggle" data-toggle = "dropdown" href>Images <span class = "caret"></span></a>
              <ul class = "dropdown-menu">
                <li><a class = "nav-link dropdown-link" href = "/embed/generate">Embed Maker</a></li>
                <li><a class = "nav-link dropdown-link" href = "/generate">Text Generator</a></li>
                <li><a class = "nav-link dropdown-link" href = "/badge/generate">Badge Generator</a></li>
              </ul>
            </li>
          </li>
          <li class = "nav-item">
            <li class = "dropdown">
              <a class = "nav-link text-secondary dropdown-toggle" data-toggle = "dropdown" href>Extras <span class = "caret"></span></a>
              <ul class = "dropdown-menu">
                <li><a class = "nav-link dropdown-link" href = "/api/v1">API</a></li>
                <li><a class = "nav-link dropdown-link" href = "/paint">Painting</a></li>
                <li><a class = "nav-link dropdown-link" href = "/writer">Text Editor</a></li>
                <li><a class = "nav-link dropdown-link" href = "/upload">File Uploader</a></li>
                <li><a class = "nav-link dropdown-link" href = "/shortener">URL Shortener</a></li>
              </ul>
            </li>
          </li>
        </ul>
        <ul class = "navbar-nav navbar-right">
          {% if not "username" in session %}
            <li class = "nav-item">
              <a class = "nav-link text-secondary" href = "/register">Signup</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link text-secondary" href = "/login">Login</a>
            </li>
          {% else %}
            <li class = "dropdown">
              <a class = "nav-link text-secondary dropdown-toggle" data-toggle = "dropdown" href>
                {{ session["username"] }} <span class = "caret"></span>
              </a>
              <ul class = "dropdown-menu dropdown-menu-right">
                <li><a href = "/account" class = "nav-link cb-dpr dropdown-link">Account</a></li>
                <!-- Admin panel -->
                {% if app.db.is_admin(session["username"]) %}
                  <li><a href = "/admin" class = "nav-link cb-dpr dropdown-link">Admin Panel</a></li>
                {% endif %}
                <!-- Logout button -->
                <li><a href = "/logout" class = "nav-link cb-dpr cb-lgt">Logout</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div align = "center" class = "master">
      {% if request.args.get("message") %}
        <div class = "alert alert-success" role = "alert">{{ request.args.get("message") }}</div>
      {% endif %}
      {% block content %}{% endblock %}
      <br>
      <div class = "seperator"></div>
    </div>
    <footer>
      <a href = "https://github.com/ii-Python/iiPython.cf">
        <i class = "fab fa-github"></i>
      </a>
      <a data-toggle = "tooltip" data-placement = "top" title = "iiPython#0768">
        <i class = "fab fa-discord"></i>
      </a>
      <a onclick = "confetti.start(1200, 50, 150);">
        <i class = "fas fa-smile-wink"></i>
      </a>

    </footer>

    <!-- JS -->
    <script src = "//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Relative JS -->
    <script src = "/s/js/page.js"></script>
    <script src = "/s/js/confetti.js"></script>
    <script src = "/s/js/bootstrap.js"></script>
  </body>
</html>
