{% extends "base.html" %}

{% block content %}

  <h3>Ben's Things</h3>
  <h6>The place where I host endpoints for testing and development.</h6>
  <br>
  <div style = "padding-top: 10px;"></div>
  <div id = "examples">
    <p>Example endpoints:</p>

    <!-- Text generator -->
    <a class = "btn btn-outline-secondary example" href = "/generate">
      <i class = "fas fa-file-alt"></i>
      Text Generator
    </a>

    <!-- Badge generator -->
    <a class = "btn btn-outline-secondary example" href = "/badge/generate">
      <i class = "fas fa-id-card"></i>
      Badge Generator
    </a>

    <br>
    <div class = "seperator"></div>

    <!-- Text generator -->
    <a class = "btn btn-outline-secondary example" href = "/upload">
      <i class = "fas fa-upload"></i>
      File Hoster
    </a>

    <!-- Badge generator -->
    <a class = "btn btn-outline-secondary example" href = "/shortener">
      <i class = "fas fa-link"></i>
      URL Shortener
    </a>    
  </div>

{% endblock %}
